@model mvcOne.ViewModel.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Customer</h2>
@using (Html.BeginForm("Save", "Movie"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Movie.Name)
        @Html.TextBoxFor(c => c.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Movie.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Movie.ReleaseDate)
        @Html.TextBoxFor(c => c.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Movie.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Movie.MovieTypeId)
        @Html.DropDownListFor(c => c.Movie.MovieTypeId, new SelectList(Model.MovieType, "Id", "MovieTypeName"), "Select Movie Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Movie.MovieTypeId)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Movie.IsSubscribedToNewsLatter) Subscribe To News Latter
        </label>
    </div>
    @Html.HiddenFor(m => m.Movie.Id)
    <button class="btn btn-lg btn-primary" type="submit">Save</button>
}


